.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-items: flex-start;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.flex-align-items-stretch {
    align-items: stretch;
  }

  .flex-item-1 {
    flex: 1;
  }

  .flex-item-2 {
    flex: 2;
  }

  .flex-item-3 {
    flex: 3;
  }

  &.col {
    flex-direction: column;
    &.reverse {
      flex-direction: column-reverse;
    }
  }

  /* Medium screens */
  @media all and (max-width: $screen-md) {

    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;

  }

  /* Small screens */
  @media all and (max-width: $screen-sm) {

    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;

  }
}
